.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  background: #000;
}

.main svg {
  width: 10rem;
}

.main h1 {
  border-bottom: 2px solid;
  padding: 12px;
  margin-bottom: 24px;
}
