.main {
  display: flex;
  flex-direction: column;
}

.employersCallout {
  display: flex;
}

.flex {
  display: flex;
}

.employersList {
  padding: 24px 0;
}

.employersListz {
  padding: 24px 0;
  margin-left: 0,
}
